html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  clear: both;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif,'Rubik Mono One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
} */

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear; 
}

#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}

header {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background-color: #F7F6EC;
}

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #E0E0D7;
}

article {
  margin: 10px;
  padding: 20px;
  background-color: #CFCEC6;
}

h1 {
  margin: 0;
  font-family: 'Rubik Mono One', sans-serif;
  color: black;
  text-align: center;
  font-size: 40px;
}

p {
  margin: 0;
  font-size: 16px;
}

#error {
  font-size: 50px;
  color: blue;
}

footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background-color: #CFCEC1;
}

