html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  clear: both;
  background: #F7F6EC;
  color: #090808;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Rubik Mono One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/****** MAIN STYLE ******/

section {
  padding: 20px 0;
  background: #E0E0D7;
}

h1 {
  margin: 0;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 24px;
}

h2 {
  margin-bottom: 0;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 18px;
}

h3 {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p, li, ul {
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 20px 10px;
  font-size: 16px;
}

button {
  margin: 0;
  padding: 10px 0;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 10px; 
  background: #F7F6EC;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background: #fdc002;
}

a {
  text-decoration: none;
  color: #090808;
}

a:hover {
  text-decoration: underline;
}

/****** PAGE CONTENT ******/

/****** header ******/
header {
  display: flex;
  flex-direction: column;
  position: sticky;
  text-align: center;
  top: 0;
  padding: 60px 0;
  background: #F7F6EC;
}

.header-nav:hover {
  text-decoration: none;
  cursor: pointer;
}

/****** info section ******/
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion-container { /****** accordion ******/
  width: 100%;
  margin: 0;
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 0px 0px;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 0;
  background:#ccc;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

span { /* In the accordion button */
  font-size: 20px;
}

.expand-info {
  display: none;
}

.remove {
  display: none;
}

.active {
  display: block;
}

ul {
  margin: 0;
  padding: 15px;
  width: 100%;
  background: #fdc002;
  list-style: none;
}

li {
  margin: 15px 0;
  font-size: 14px;
}

/* gallery section */
.gallery-section {
  padding: 15px 0;
}

.gallery-grid {
  background: #E0E0D7;
  padding: 0px;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: #E0E0D7;
}

img {
  padding: 5px;
  height: auto; 
  max-width: 150px;
  flex-grow: 1;
  object-fit: cover;
}

/****** footer ******/
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 60px 0;
  background: #CFCEC1;
}

/****** sticky scroll button ******/
.topscroll-button {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99; 
}

/****** loader ******/
#loader {
  position: fixed;
  margin: auto;
  width: 15rem;
  height: 15rem;
  left: 0;
  right: 0;
  z-index: 99999;
  border: 5px solid #090808;
  border-top: 6px solid #F7F6EC;
  border-radius: 100%;
  visibility: hidden;
  animation: spin 1s infinite linear; 
}

#loader.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}

/****** IPAD / DESKTOP ******/

/* Ipad */
@media (min-width: 415px) and (max-width: 1024px) {

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    margin: 20px 0;
  }
  
  p, button {
    width: 60%;
    font-size: 18px;
    line-height: 30px;
  }

  header {
    padding: 80px 0;
  }

  .accordion-container, .expand-info {
    width: 60%;
  }

  li {
    font-size: 16px;
  }

  .gallery-section {
    padding: 10px;
  }
  
  img {
    padding: 2px;
    height: 150px;
    max-width: 100%;
    flex-grow: 1;
    object-fit: cover;
  }

  .topscroll-button {
    width: 25%;
    font-size: 16px;
  }
}

/* Desktop */
@media (min-width: 1024px) {

  h1 {
    font-size: 63px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    margin: 20px 0;
    width: 35%;
    line-height: 30px;
  }

  header {
    padding: 50px 0;
  }

  .accordion-container, .expand-info {
    width: 35%;
  }

  .gallery-section {
    padding: 40px;
  }
  
  img {
    padding: 5px;
    height: 180px;
    max-width: none;
  }

  .topscroll-button {
    width: 12%;
    font-size: 16px;
  }
}